node_modules/
coverage/
*.log
.env

# Terraform
**/.terraform/
**/terraform.tfvars
**/terraform/.zip
**/.terraform.lock.hcl
**/tfplan
**/*.tfstate
**/*.tfvars
**/*.tfstate.backup
terraform/ec2_key.pem
**/.DS_Store
Thumbs.db

